<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article class="media content-section">
        <img class="rounded-circle article-img" src="/media/profile_pics/img001.jpg">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">cypher_adi</a>
                <small class="text-muted">September 15, 2020</small>
            </div>
            <h2><a class="article-title" href="/post/16/">Basic Resources for Web Development</a></h2>
            <p class="article-content"></p>
        </div>
    </article>
</body>
</html>